body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image1{
float:left;
margin-right: 10px;
}
.image2{
	float: right;
	margin-left: 10px;
	display: inline-block;
}